In [1]:
library('purrr')
library('tidyverse')

Warning message:
“Your system is mis-configured: ‘/var/db/timezone/localtime’ is not a symlink”
Warning message:
“‘/var/db/timezone/localtime’ is not identical to any known timezone file”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Consider this example from [Think Stats 2e](https://greenteapress.com/wp/think-stats-2e/): 

You operate a casino and a player at one of your craps tables is winning. You suspect the player has employed
a crooked die. You collect the following data for the players first 60 rolls with the die in question.

In [2]:
observed_data = tribble(
    ~die_roll, ~count,
     1,          8,
     2,          9,
     3,         19,
     4,          5,
     5,          8, 
     6,          11
)

observed_data

  die_roll count
1 1         8
2 2         9
3 3        19
4 4         5
5 5         8
6 6        11

Let's select a "test statistic" quantify how the observed data deviates from what we would expect *on average* from a fair die. Then we can find the null distribution of the test statistic and leverage that distribution to investigate the fairness of the suspicious die.

The following is a table that represents a fair die:

In [3]:
fair_die = tribble(
    ~die_roll,
    1,
    2,
    3,
    4,
    5, 
    6
)

fair_die

  die_roll
1 1
2 2
3 3
4 4
5 5
6 6

We can use the `slice_sample` with `replace = TRUE` to simulate a "n" dice rolls.

In [4]:
slice_sample(fair_die, n = 10, replace = TRUE)

#similar to the `hypothesize` function from infer

   die_roll
1  2
2  6
3  3
4  3
5  4
6  3
7  1
8  2
9  5
10 1

The following is a function that calcuates the absolute deviance for a set of "n" rolls from what we would expect from a fair dice *on average*.

```r
abs_deviance = function(roll_frequencies) {
    n = sum(roll_frequencies)
    expected = n / 6
    abs(roll_frequencies - expected) |> sum()
}

```

Create this function in the cell below and calculate "absolute deviance" for the suspicious die.

(**Hint:** use `summarize(abs_dev = abs_deviance(count))`)

In [5]:
abs_deviance = function(roll_frequencies) {
    n = sum(roll_frequencies)
    expected = n/6
    abs(roll_frequencies - expected) |> sum()
}

The `purrr` code below generates simulates rolling a fair die 60 times for 1,000 iterations.

```r
n_iterations = 1000
n_rolls = 60

1:n_iterations |> map_dfr(~slice_sample(fair_die, n = 60, replace = TRUE), .id = 'replicate')

```

Run this code and collect the output in a table called `simulated_data`.

In [6]:
n_iterations = 1000
n_rolls = 60

1:n_iterations |> map_dfr(~slice_sample(fair_die, n = 60, replace = TRUE),
                          .id = 'replicate')

      replicate die_roll
1     1         3
2     1         4
3     1         6
4     1         6
5     1         5
6     1         3
7     1         1
8     1         6
9     1         6
10    1         5
11    1         6
12    1         3
13    1         3
14    1         4
15    1         3
16    1         3
17    1         4
18    1         4
19    1         2
20    1         4
21    1         3
22    1         3
23    1         3
24    1         5
25    1         5
26    1         2
27    1         5
28    1         3
29    1         5
30    1         3
⋮     ⋮         ⋮
59971 1000      6
59972 1000      1
59973 1000      2
59974 1000      4
59975 1000      3
59976 1000      6
59977 1000      6
59978 1000      6
59979 1000      2
59980 1000      5
59981 1000      6
59982 1000      2
59983 1000      5
59984 1000      4
59985 1000      4
59986 1000      5
59987 1000      1
59988 1000      2
59989 1000      5
59990 1000      4
59991 1000      4
59992 1000      4
59993 1000      5
59994 1000      6
59995 1000      5
59996 1000      1
59997 1000      4
59998 1000      5
59999 1000      5
60000 1000      4

Now we are ready to calculate the null distribution of our test statistic!

Using `simulated_data`,
1. `group_by` the `replicate` variable (add `.drop = FALSE` to make sure you include zero frequency counts),
2. `count` the frequency of `die_roll`. Last, 
3. `summarize` each group using the `abs_deviance` function from above. Call you new column `abs_dev`.

Capture the output into a table called `abs_dev_null_dist`.

In [8]:
simulated_data |> group_by(replicate, .drop = FALSE) |> count(die_roll) |> summarise()

ERROR: Error: object 'simulated_data' not found

Plot a histogram of `abs_dev`. Use `geom_vline` to show the positon of our the test statistic calculated from the suspicious die.

In [ ]:
ggplot(abs_dev_null_dist, aes(x = abs_dev)) + geom_histogram()

Can you calculate a "p-value" for our suspicous die using the null distribution and the observed test statistic?

In [ ]:
abs_dev_null_dist |> summarize(p = sum(abs_dev >= obs) / n())

Redo the steps above but this time use the [Chi square](https://en.wikipedia.org/wiki/Chi-squared_test) statistic. The **Chi square** test statistic simply quantifies the sum of squared differences from expected values divided by the expected value.

You can re-use `simulated_data`.

Here is a function in `R`:

```r
chi_square = function(roll_frequencies) {
    n = sum(roll_frequencies)
    expected = n / 6
    sum((roll_frequencies - expected)**2 / expected)
}

```

In [9]:
chi_square = function(roll_frequencies) {
    n = sum(roll_frequencies)
    expected = n / 6
    sum((roll_frequencies - expected)**2 / expected)
}

obs = chi_square(roll_frequencies)

chisq_null_dist = simulated_data |> group_by(replace, .drop = FALSE) |>
    count(die_roll) |> summarize(chisq = chi_square(n))

ERROR: Error: object 'roll_frequencies' not found

Is the "p-value" using the Chi square test statistic lower or higher than that calcuated using "absolute deviance" as the test statistic?